MapServiceTest/Service References/MapService/MapService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MapService.CommandObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MapService.CommandObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetMapThumbnailResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="LatitudeMax" type="xs:double" />
          <xs:element minOccurs="0" name="LatitudeMin" type="xs:double" />
          <xs:element minOccurs="0" name="LongitudeMax" type="xs:double" />
          <xs:element minOccurs="0" name="LongitudeMin" type="xs:double" />
          <xs:element minOccurs="0" name="MapName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Thumbnail" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMapThumbnailResponse" nillable="true" type="tns:GetMapThumbnailResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="GetDetailedMapByPixelLocationResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="DetailedImage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MapName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDetailedMapByPixelLocationResponse" nillable="true" type="tns:GetDetailedMapByPixelLocationResponse" />
</xs:schema>