MapServiceTest/Service References/MapService/MapService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://stm.eti.gda.pl/stm" elementFormDefault="qualified" targetNamespace="http://stm.eti.gda.pl/stm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4321/MapService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MapService.CommandObjects" />
  <xs:element name="GetMapThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapThumbnailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MapService.CommandObjects" minOccurs="0" name="GetMapThumbnailResult" nillable="true" type="q1:GetMapThumbnailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoordinatesBounds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoordinatesBoundsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MapService.CommandObjects" minOccurs="0" name="GetCoordinatesBoundsResult" nillable="true" type="q2:GetCoordinatesBoundsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailedMapByPixelLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="x1" type="xs:int" />
        <xs:element minOccurs="0" name="y1" type="xs:int" />
        <xs:element minOccurs="0" name="x2" type="xs:int" />
        <xs:element minOccurs="0" name="y2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailedMapByPixelLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MapService.CommandObjects" minOccurs="0" name="GetDetailedMapByPixelLocationResult" nillable="true" type="q3:GetDetailedMapByPixelLocationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailedMapByCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude1" type="xs:double" />
        <xs:element minOccurs="0" name="longitude1" type="xs:double" />
        <xs:element minOccurs="0" name="latitude2" type="xs:double" />
        <xs:element minOccurs="0" name="longitude2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailedMapByCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MapService.CommandObjects" minOccurs="0" name="GetDetailedMapByCoordinatesResult" nillable="true" type="q4:GetDetailedMapByPixelLocationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>