MapServiceTest/Service References/MapService/MapService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://stm.eti.gda.pl/stm" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://stm.eti.gda.pl/stm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://stm.eti.gda.pl/stm/Imports">
      <xsd:import schemaLocation="http://localhost:4321/MapService?xsd=xsd0" namespace="http://stm.eti.gda.pl/stm" />
      <xsd:import schemaLocation="http://localhost:4321/MapService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4321/MapService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MapService.CommandObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMapService_GetMapThumbnail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapThumbnail" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetMapThumbnail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapThumbnailResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetCoordinatesBounds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordinatesBounds" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetCoordinatesBounds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordinatesBoundsResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetDetailedMapByPixelLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedMapByPixelLocation" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetDetailedMapByPixelLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedMapByPixelLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetDetailedMapByCoordinates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedMapByCoordinates" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetDetailedMapByCoordinates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedMapByCoordinatesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMapService">
    <wsdl:operation name="GetMapThumbnail">
      <wsdl:input wsaw:Action="http://stm.eti.gda.pl/stm/IMapService/GetMapThumbnail" message="tns:IMapService_GetMapThumbnail_InputMessage" />
      <wsdl:output wsaw:Action="http://stm.eti.gda.pl/stm/IMapService/GetMapThumbnailResponse" message="tns:IMapService_GetMapThumbnail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoordinatesBounds">
      <wsdl:input wsaw:Action="http://stm.eti.gda.pl/stm/IMapService/GetCoordinatesBounds" message="tns:IMapService_GetCoordinatesBounds_InputMessage" />
      <wsdl:output wsaw:Action="http://stm.eti.gda.pl/stm/IMapService/GetCoordinatesBoundsResponse" message="tns:IMapService_GetCoordinatesBounds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailedMapByPixelLocation">
      <wsdl:input wsaw:Action="http://stm.eti.gda.pl/stm/IMapService/GetDetailedMapByPixelLocation" message="tns:IMapService_GetDetailedMapByPixelLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://stm.eti.gda.pl/stm/IMapService/GetDetailedMapByPixelLocationResponse" message="tns:IMapService_GetDetailedMapByPixelLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailedMapByCoordinates">
      <wsdl:input wsaw:Action="http://stm.eti.gda.pl/stm/IMapService/GetDetailedMapByCoordinates" message="tns:IMapService_GetDetailedMapByCoordinates_InputMessage" />
      <wsdl:output wsaw:Action="http://stm.eti.gda.pl/stm/IMapService/GetDetailedMapByCoordinatesResponse" message="tns:IMapService_GetDetailedMapByCoordinates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>